.return{
    background-color: #E0E0E0;
    color: #f2f2f2;
}

.band0{
    background-color: #F2F2F2;
    text-align: center;
    color: #9C352F;
    padding: 5px;
    width: 100%;
}

.response{
    align-items: center;
    background-color: #EDC3C3;
    margin: 10px;
    padding: 10px;
    color: #F2F2F2;
}

.validateur {
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9C352F;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5%;
    stroke: none;
    z-index: 10; /* Assurez-vous que le pop-up est au-dessus du reste du contenu */
  }